@page "{id}"
@inject MvcHelper MvcHelper
@inject IDisplayNameCollector<ViewEntityByIdPageModel<string, Item, ItemViewModel, IItemManager<Item, Module>>> displayNameCollector;
@model ViewEntityByIdPageModel<string, Item, ItemViewModel, IItemManager<Item, Module>>
@{
    ViewData["Title"] = Model.Entity.Name;
    MvcHelper.SetActiveSubMenuItem(ViewData, "Projects");

    var emptyReadableIdEntityFeatureSetting = new ReadableIdEntityFeatureSettingViewModel();
    var emptyOnOffEntityFeatureSetting = new OnOffEntityFeatureSettingViewModel();
    var emptyCodeBasedEntityFeatureSetting = new CodeBasedEntityFeatureSettingViewModel();
    var emptyNameBasedEntityFeatureSetting = new NameBasedEntityFeatureSettingViewModel();
    var emptyScopedNameBasedEntityFeatureSetting = new ScopedNameBasedEntityFeatureSettingViewModel();
    var childEntityFeatureSetting = new ChildEntityFeatureSettingViewModel();

    displayNameCollector.Collect(x => Model.Entity.Position, Html)
                        .Collect(x => Model.Entity.Name, Html)
                        .Collect(x => Model.Entity.DisplayName, Html)
                        .Collect(x => Model.Entity.ParameterListLineBreak, Html)
                        .Collect(x => Model.Entity.AbstractModel, Html)
                        .Collect(x => Model.Entity.FeatureSettings, Html)
                        .Collect(x => emptyReadableIdEntityFeatureSetting.IdSourcePropertyName, Html)
                        .Collect(x => emptyOnOffEntityFeatureSetting.UseActiveField, Html)
                        .Collect(x => emptyCodeBasedEntityFeatureSetting.CodePropertyName, Html)
                        .Collect(x => emptyCodeBasedEntityFeatureSetting.LookupNormalizer, Html)
                        .Collect(x => emptyCodeBasedEntityFeatureSetting.HasCodeGenerator, Html)
                        .Collect(x => emptyNameBasedEntityFeatureSetting.NamePropertyName, Html)
                        .Collect(x => emptyScopedNameBasedEntityFeatureSetting.ScopeName, Html)
                        .Collect(x => emptyScopedNameBasedEntityFeatureSetting.DeleteRestrict, Html)
                        .Collect(x => emptyScopedNameBasedEntityFeatureSetting.HasSortedChildrenInScope, Html)
                        .Collect(x => emptyScopedNameBasedEntityFeatureSetting.SortedChildrenInScopeCriteriaPropertyName, Html)
                        .Collect(x => childEntityFeatureSetting.ParentName, Html)
                        .Collect(x => childEntityFeatureSetting.HasSortedChildrenInParent, Html)
                        .Collect(x => childEntityFeatureSetting.SortedChildrenInParentCriteriaPropertyName, Html);
}

@section Head {
    <environment include="Development">
        <link href="~/assets/building/items/view/app.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/assets/building/items/view/app.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}

<section id="app" v-cloak>
    <edit-page api-url="@Url.Action("Get", "Items")"
               id="@Model.Entity.Id"
               :display-names='@displayNameCollector.ToJson()'
               view-project-url="@Url.Page("ViewProject", new { id = "_id_" }).Replace("/_id_", string.Empty)"
               return-url="@Url.Page("ViewModule", new { id = Model.Entity.ModuleId })"></edit-page>
</section>

@section Scripts {
    <environment include="Development">
        <script src="~/assets/building/items/view/app.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/assets/building/items/view/app.min.js" asp-append-version="true"></script>
    </environment>
}
